SUBSYSTEM=="tty", KERNEL=="ttyS[0-9]*", KERNELS=="00:07", ACTION=="add", SYMLINK+="ttyM0"
SUBSYSTEM=="tty", KERNEL=="ttyS[0-9]*", KERNELS=="00:08", ACTION=="add", SYMLINK+="ttyM1"

SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/sleep 1; /bin/echo 449 > /sys/class/gpio/export; /bin/echo out > /sys/class/gpio449/direction; /bin/echo 0 > /sys/class/gpio/gpio449/value'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/sleep 1; /bin/echo 450 > /sys/class/gpio/export; /bin/echo out > /sys/class/gpio450/direction; /bin/echo 0 > /sys/class/gpio/gpio450/value'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/sleep 1; /bin/echo 451 > /sys/class/gpio/export; /bin/echo out > /sys/class/gpio451/direction; /bin/echo 1 > /sys/class/gpio/gpio451/value'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/sleep 1; /bin/echo 452 > /sys/class/gpio/export; /bin/echo out > /sys/class/gpio452/direction; /bin/echo 0 > /sys/class/gpio/gpio452/value'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/sleep 1; /bin/echo 453 > /sys/class/gpio/export; /bin/echo out > /sys/class/gpio453/direction; /bin/echo 0 > /sys/class/gpio/gpio453/value'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/sleep 1; /bin/echo 454 > /sys/class/gpio/export; /bin/echo out > /sys/class/gpio454/direction; /bin/echo 1 > /sys/class/gpio/gpio454/value'"

SUBSYSTEM=="misc", KERNEL=="it87_serial", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 0 > /sys/class/misc/it87_serial/serial1/serial1_rs485'"
SUBSYSTEM=="misc", KERNEL=="it87_serial", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 0 > /sys/class/misc/it87_serial/serial2/serial2_rs485'"
