SUBSYSTEM=="tty", KERNEL=="ttyS[0-9]*", KERNELS=="00:07", ACTION=="add", SYMLINK+="ttyM0"
SUBSYSTEM=="tty", KERNEL=="ttyS[0-9]*", KERNELS=="00:08", ACTION=="add", SYMLINK+="ttyM1"

SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 449 > /sys/class/gpio/export'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 450 > /sys/class/gpio/export'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 451 > /sys/class/gpio/export'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 452 > /sys/class/gpio/export'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 453 > /sys/class/gpio/export'"
SUBSYSTEM=="gpio", KERNEL=="gpiochip0", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 454 > /sys/class/gpio/export'"

SUBSYSTEM=="gpio", KERNEL=="gpio449", KERNELS=="gpiochip0", ACTION=="add", ATTR{direction}="out", ATTR{value}="0"
SUBSYSTEM=="gpio", KERNEL=="gpio450", KERNELS=="gpiochip0", ACTION=="add", ATTR{direction}="out", ATTR{value}="0"
SUBSYSTEM=="gpio", KERNEL=="gpio451", KERNELS=="gpiochip0", ACTION=="add", ATTR{direction}="out", ATTR{value}="1"
SUBSYSTEM=="gpio", KERNEL=="gpio452", KERNELS=="gpiochip0", ACTION=="add", ATTR{direction}="out", ATTR{value}="0"
SUBSYSTEM=="gpio", KERNEL=="gpio453", KERNELS=="gpiochip0", ACTION=="add", ATTR{direction}="out", ATTR{value}="0"
SUBSYSTEM=="gpio", KERNEL=="gpio454", KERNELS=="gpiochip0", ACTION=="add", ATTR{direction}="out", ATTR{value}="1"

SUBSYSTEM=="misc", KERNEL=="it87_serial", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 0 > /sys/class/misc/it87_serial/serial1/serial1_rs485'"
SUBSYSTEM=="misc", KERNEL=="it87_serial", ACTION=="add", RUN+="/bin/bash -c '/bin/echo 0 > /sys/class/misc/it87_serial/serial2/serial2_rs485'"
